<div class="tn-box tn-widget tn-widget-content tn-corner-all tnc-settings-list">
    <div class="tn-box-header tn-widget-header tn-corner-top tn-border-bottom">
        <h3 class="tn-helper-reset">便捷操作</h3>
    </div>
    <div class="tn-box-content tn-widget-content tn-corner-bottom">
        <ul class="tn-side-menu tnc-operation">
            <li class="tn-border-dashed tn-border-gray tn-border-bottom"><a href="@SiteUrls.Instance().AskQuestionControlPanelManage()" target="_self">
                <span class="tn-icon tn-smallicon-slide-next" title="问题管理"></span>问题管理</a>
            </li>
            <li class="tn-border-dashed tn-border-gray tn-border-bottom"><a href="@SiteUrls.Instance().AskAnswerControlPanelManage()" target="_self">
                <span class="tn-icon tn-smallicon-slide-next" title="回答管理"></span>回答管理</a>
            </li>
            <li class="tn-border-dashed tn-border-gray tn-border-bottom"><a href="@SiteUrls.Instance().ManageTagGroups(TenantTypeIds.Instance().AskQuestion())" target="_blank">
                <span class="tn-icon tn-smallicon-slide-next" title="标签分组管理"></span>标签分组管理</a>
            </li>
                <li class="tn-border-dashed tn-border-gray tn-border-bottom"><a href="@SiteUrls.Instance().ManageTags(TenantTypeIds.Instance().AskQuestion())" target="_blank">
                    <span class="tn-icon tn-smallicon-slide-next" title="标签管理"></span>标签管理</a>
                </li>
        </ul>
    </div>
</div>
           