@{

}
<div class="yl5361_ft">
    <div id="ft" class="cl">
        <div id="flk">
            <p class="yl5361_p">
                <a href="#">联系我们</a><span class="pipe">|</span><a href="#">网站服务</a><span class="pipe">|</span><a href="#">友链申请</a><span class="pipe">|</span><a href="archiver/index.htm" tppabs="http://discuz.uuhey.com/yl5361_city_d4/archiver/">Archiver</a><span class="pipe">|</span><a href="misc.php-mod=mobile.htm" tppabs="http://discuz.uuhey.com/yl5361_city_d4/forum.php?mobile=yes">手机版</a><span class="pipe">|</span><a href="forum.php-mod=misc&action=showdarkroom.htm" tppabs="http://discuz.uuhey.com/yl5361_city_d4/forum.php?mod=misc&action=showdarkroom">小黑屋</a><span class="pipe">|</span><strong><a href="" target="_blank">Comsenz Inc.</a></strong>
            </p>
            <p class="xs0">
                GMT+8, 2016-4-28 11:31<span id="debuginfo">
                    , Processed in 0.125214 second(s), 12 queries
                    , Apc On.
                </span>
            </p>
        </div>
        <div id="frt">
        </div>

    </div>
    <script src="home.php-mod=misc&ac=sendmail&rand=1461814291.js" tppabs="http://discuz.uuhey.com/yl5361_city_d4/home.php?mod=misc&ac=sendmail&rand=1461814291" type="text/javascript"></script>
    <div id="scrolltop">
        <span hidefocus="true"><a title="返回顶部" onclick="window.scrollTo('0','0')" class="scrolltopa"><b>返回顶部</b></a></span>
    </div>
    <script type="text/javascript">_attachEvent(window, 'scroll', function () { showTopLink(); }); checkBlind();</script>

    <script type="text/javascript">jQuery(".yl5361_topic1,.yl5361_forum_map").slide({ titCell: "dl", triggerTime: 0 });</script>
    <script type="text/javascript">jQuery(".yl5361_topic_img2").slide({ mainCell: ".list1", effect: "topLoop", vis: 4, opp: true, autoPlay: true, delayTime: 800, interTime: 4000 });</script>
    <script type="text/javascript">jQuery(".yl5361_topic_img3").slide({ mainCell: "ul", effect: "leftLoop", vis: 5, scroll: 2, autoPage: true, autoPlay: true, interTime: 4000, easing: "easeOutCirc" });	</script>
    <script type="text/javascript">jQuery(".yl5361_topic_img1,.yl5361_topic_img5,.yl5361_topic3").slide({ titCell: "li", triggerTime: 0 });</script>
    <script type="text/javascript">jQuery(".yl5361_f_tab1_list1").slide({ mainCell: ".list1", effect: "leftLoop", vis: 1, opp: true, autoPlay: true, delayTime: 800, interTime: 4000 });</script>

    <div id="discuz_tips" style="display:none;"></div>
    <script type="text/javascript">
        var tipsinfo = '|X3.2|0.6||0||0|7|1461814291||2';
    </script>
    <script src="../../discuz.gtimg.cn/cloud/scripts/discuz_tips.js-v=1.js" tppabs="http://discuz.gtimg.cn/cloud/scripts/discuz_tips.js?v=1" type="text/javascript" charset="UTF-8"></script>
</div>

