<div id="portal_block_3336" class="yl5361_tab1_l1 block move-span">
    <div id="portal_block_3336_content" class="dxb_bc">
        <div class="module cl slidebox" style=" position:relative;">
            <ul class="slideshow">
                <li style="width: 330px; height: 410px;">
                    <a href="forum.php-mod=viewthread&tid=48.htm" target="_blank">
                        <img src="Uploads/attachment/block/ba/ba00ac8067e15efa8a326fd63a40f4c6.jpg" width="330" height="410" />
                    </a>
                    <span class="title">决战国产设计之巅 星星1号 ...</span>
                    <i>
                        <a href="home.php-mod=space&uid=8.htm" target="_blank">
                            <img src="Uploads/uc_server/data/avatar/000/00/00/08_avatar_middle.jpg" width="60" height="60" title="皱叶冷水花" />
                        </a>
                    </i>
                </li>
                <li style="width: 330px; height: 410px;">
                    <a href="forum.php-mod=viewthread&tid=77.htm" target="_blank">
                        <img src="Uploads/attachment/block/f9/f95d4a3e0e8a96a27e50776dead35c5e.jpg" width="330" height="410" />
                    </a>
                    <span class="title">遇见你就是今生最美丽的缘 ...</span>
                    <i>
                        <a href="home.php-mod=space&uid=1.htm" target="_blank">
                            <img src="Uploads/uc_server/data/avatar/000/00/00/01_avatar_middle.jpg" width="60" height="60" title="admin" />
                        </a>
                    </i>
                </li>
                <li style="width: 330px; height: 410px;">
                    <a href="forum.php-mod=viewthread&tid=58.htm" target="_blank">
                        <img src="Uploads/attachment/block/34/348f65e2ac078cb56ea83dc03dcb4bdf.jpg" width="330" height="410" />
                    </a>
                    <span class="title">楼市去化需24个月 天津放松 ...</span>
                    <i>
                        <a href="home.php-mod=space&uid=10.htm" target="_blank">
                            <img src="Uploads/uc_server/data/avatar/000/00/00/10_avatar_middle.jpg" width="60" height="60" title="美女山牡丹" />
                        </a>
                    </i>
                </li>
                <li style="width: 330px; height: 410px;">
                    <a href="forum.php-mod=viewthread&tid=57.htm" target="_blank">
                        <img src="Uploads/attachment/block/06/06cbedd95848c8b66709568ade7bad28.jpg" width="330" height="410" />
                    </a>
                    <span class="title">品牌房企盘盘惠 14500元起 ...</span>
                    <i>
                        <a href="home.php-mod=space&uid=8.htm" target="_blank">
                            <img src="Uploads/uc_server/data/avatar/000/00/00/08_avatar_middle.jpg" width="60" height="60" title="皱叶冷水花" />
                        </a>
                    </i>
                </li>
                <li style="width: 330px; height: 410px;">
                    <a href="forum.php-mod=viewthread&tid=56.htm" target="_blank">
                        <img src="Uploads/attachment/block/2f/2f1171ecb4fdbce971a9d369e387eed0.jpg" width="330" height="410" />
                    </a>
                    <span class="title">北京房产中介:从&quot;天堂&quot; ...</span>
                    <i>
                        <a href="home.php-mod=space&uid=3.htm" target="_blank">
                            <img src="Uploads/uc_server/data/avatar/000/00/00/03_avatar_middle.jpg" width="60" height="60" title="细叶沿阶草" />
                        </a>
                    </i>
                </li>
            </ul>
            <div class="btns slidebar" style="position:absolute;bottom:52px;right:7px;">
                <em>1</em><em>2</em><em>3</em><em>4</em><em>5</em>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    //debugger;
    runslideshow();
</script>