@model IEnumerable<IUser>
@if (Model != null && Model.Count() > 0)
{
    int followerCount = ViewData.Get<int>("followerCount", 0);
    long tagId = ViewData.Get<int>("tagId", 0);
    <div class="tn-box tn-widget tn-widget-content tn-corner-all spb-ask-state">
        <div class="tn-box-content tn-widget-content tn-corner-bottom">
            <div class="tn-info-part">                
                <dl>
                    <dd>
                        <a class="tn-count" href="@SiteUrls.Instance().AskTagFollowers(tagId)">@followerCount</a>人关注了该标签</dd>
                </dl>
                <ul class="tn-list tn-helper-clearfix">
                    @foreach (var user in Model.Take(28))
                    {
                        <li>
                            @Html.ShowUserAvatar(user, SiteUrls.Instance().AskUser(user.UserName), AvatarSizeType.Micro, HyperLinkTarget._self)
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}