<?xml version="1.0" encoding="utf-8"?>
<application type="WikiConfig" applicationName="百科"  configType="Spacebuilder.Wiki.WikiConfig,Spacebuilder.Wiki">
  <tenantAttachmentSettings>
    <add tenantTypeId="101600" storeProviderName="CommonStorageProvider" tenantAttachmentDirectory="Wiki">
    </add>
    <add tenantTypeId="101601" storeProviderName="CommonStorageProvider" tenantAttachmentDirectory="WikiPage">
      <imageSizeType key="Small" width="100" height="100" resizeMethod="Crop"/>
      <imageSizeType key="Medium" width="220" height="150" resizeMethod="Crop"/>
      <imageSizeType key="Big" width="630" height="360" resizeMethod="KeepAspectRatio"/>
      <imageSizeType key="_WikiList_InHome_Big" width="325" height="175" resizeMethod="Crop"/>
      <imageSizeType key="_WikiList_InHome" width="102" height="90" resizeMethod="Crop"/>
    </add>
    <add tenantTypeId="101602" storeProviderName="CommonStorageProvider" tenantAttachmentDirectory="WikiPageVersion">
      <imageSizeType key="Small" width="100" height="100" resizeMethod="Crop"/>
    </add>

    <!--注册新版广场页快捷定制-->
    <add tenantTypeId="000074" storeProviderName="CommonStorageProvider" tenantAttachmentDirectory="CustomShortcuts">
      <imageSizeType key="Small" width="50" height="50" resizeMethod="Crop"/>
    </add>
  </tenantAttachmentSettings>
</application>