<?xml version="1.0" encoding="utf-8"?>
<application type="PointMall" applicationName="积分商城" configType="Spacebuilder.PointMall.PointMallConfig,Spacebuilder.PointMall">
  <tenantAttachmentSettings>
    <add tenantTypeId="200101" storeProviderName="CommonStorageProvider" tenantAttachmentDirectory="PointGift" 
         enableWatermark="true" maxImageWidth="1980" maxImageHeight="1980" maxAttachmentLength="10240" 
         allowedFileExtensions="gif,jpg,jpeg,png">
      <imageSizeType key="Small" width="100" height="100" resizeMethod="Crop"/>
      <imageSizeType key="Medium" width="320" height="320" resizeMethod="Crop"/>
      <imageSizeType key="Big" width="800" height="800" resizeMethod="Crop"/>
    </add>
  </tenantAttachmentSettings>
  <priceSetting>
    <add MinPrice="0" MaxPrice="100"/>
    <add MinPrice="100" MaxPrice="500" />
    <add MinPrice="500" MaxPrice="1000" />
    <add MinPrice="1000" MaxPrice="2000"/>
    <add MinPrice="2000" MaxPrice="3000"/>
    <add MinPrice="3000" MaxPrice="4000"/>
    <add MinPrice="4000" MaxPrice="0" />
  </priceSetting>
</application>