<?xml version="1.0" encoding="utf-8"?>
<application type="PhotoConfig" applicationName="相册"  configType="Spacebuilder.Photo.PhotoConfig,Spacebuilder.Photo">
  <tenantAttachmentSettings>
    <add tenantTypeId="100302" storeProviderName="CommonStorageProvider" tenantAttachmentDirectory="Photo" allowedFileExtensions="gif,jpg,jpeg,png,bmp">
      <imageSizeType key="P100" width="100" height="100" resizeMethod="KeepAspectRatio"/>
      <imageSizeType key="P160" width="160" height="160" resizeMethod="KeepAspectRatio"/>
      <imageSizeType key="P200" width="200" height="200" resizeMethod="Crop"/>
      <imageSizeType key="P240" width="240" height="9999" resizeMethod="KeepAspectRatio"/>
      <imageSizeType key="P320" width="320" height="9999" resizeMethod="KeepAspectRatio"/>
      <imageSizeType key="P450" width="450" height="9999" resizeMethod="KeepAspectRatio"/>
      <imageSizeType key="P800" width="800" height="9999" resizeMethod="KeepAspectRatio"/>
    </add>
  </tenantAttachmentSettings>
  <tenantCommentSettings>
    <add tenantTypeId="100302" EnableSupportOppose="false" ShowLowCommentOnLoad="false" MaxCommentLength="200" EnablePrivate="false" AllowAnonymousComment="false" EntryBoxAutoHeight="true" CommentClass="tn-comment-full" ShowCommentCount="false"  />
  </tenantCommentSettings >
</application>