@{
    Photo photo = ViewData.Get<Photo>("photo",null);
}
<ul class="tn-feedback">
    <li><a class="tn-icon tn-icon-share"  href="@SiteUrls.Instance()._ShareToMicroblog("#图片分享#" + photo.User != null ? ("@" + photo.User.NickName) : "" + " 的照片\"" + photo.Description + "\"不错，推荐给大家看看", SiteUrls.Instance().ImageUrl(photo.RelativePath, TenantTypeIds.Instance().Photo(), ImageSizeTypeKeys.Instance().P320()))" plugin="dialog" title="分享">
    </a></li>
    <li><em class="tn-count tn-text-note">@photo.CommentCount</em><a class="tn-icon tn-icon-bubble" plugin="dialog" href="@SiteUrls.Instance().PhotoDetail(photo.PhotoId)" title="评论"></a></li>
    <li>
        @Html.SupportOppose(TenantTypeIds.Instance().Photo(), photo.PhotoId, photo.UserId, AttitudeMode.Unidirection, AttitudeStyle.Like)
    </li>
</ul>
