<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" requirePermission="false" />
    </configSections>
    <log4net>
        <root>
            <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
            <priority value="WARN" />
            <appender-ref ref="debug-file" />
            <appender-ref ref="error-file" />
        </root>
        <appender name="debug-file" type="log4net.Appender.RollingFileAppender">
            <!-- debug log: 记录 DEBUG, INFO 级别的日志 -->
            <param name="File" value="App_Data\\Logs\\debug.txt" />
            <param name="AppendToFile" value="true" />
            <param name="RollingStyle" value="Size" />
            <param name="MaxSizeRollBackups" value="10" />
            <param name="MaximumFileSize" value="5MB" />
            <param name="StaticLogFileName" value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%thread] %logger - %message%newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMax value="INFO" />
            </filter>
        </appender>
        <appender name="error-file" type="log4net.Appender.RollingFileAppender">
            <!-- error log: 记录 WARN,ERROR,FATAL 级别的日志 -->
            <param name="File" value="App_Data\\Logs\\error.txt" />
            <param name="AppendToFile" value="true" />
            <param name="RollingStyle" value="Size" />
            <param name="MaxSizeRollBackups" value="10" />
            <param name="MaximumFileSize" value="5MB" />
            <param name="StaticLogFileName" value="true" />
            <layout type="log4net.Layout.PatternLayout" >
                <param name="ConversionPattern" value="%date [%thread] %logger - %message%newline" />
            </layout>
            <filter type="log4net.Filter.LevelRangeFilter">
                <levelMin value="WARN" />                
            </filter>
        </appender>        
    </log4net>
</configuration>
